.menu-mobile{
 display: flex;
 justify-content: space-between;
}

.menu-mobile .burger-menu{
    position: relative;
    /* height: 45px; */
    width: 25px;
}

.menu-mobile .burger-menu span{
    position: absolute;
    background-color: #000;
    height: 2px;
    width: 100%;
}


.menu-mobile .burger-menu span:first-child{
    top: 0;
}

.menu-mobile .burger-menu span:nth-child(2){
    top: 8px;
}

.menu-mobile .burger-menu span:nth-child(3){
    top: 16px;
}