.carousel .slide img{
    height:  calc(100vh - 80px);
    width: 100%;
    object-fit:  cover;
    object-position: center;
}

.detail-product-img .carousel .slide img{
  height: 100%;
  object-fit: contain;
}

.detail-product-img .carousel-slider{
  /* max-height: 65vh; */
}
@media only screen and (max-width: 500px) {
  .carousel .slide img{
    height: 100%;
    width: 100%;
    object-fit:  cover;
    object-position: center;
  }

}
@media (max-width: 768px){
  .respon5{
    width: 45%;
  }
  }

@media (max-width: 500px){
.respon5{
  width: 100%;
}
}