.product-detail-banner{
    height:   calc(80vh - 80px);
}
.product-detail-banner img{
      height: 100%;
      width: 100%;
      object-fit:  cover;
      object-position: center;
  }

  .block2-img{
      width: 100%;
      /* height: 200px; */
  }

  @media (min-width: 992px){
  .col-lg-4 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  
}

@media (min-width: 425px){
  .block2-img{
    width: 100%;
  }
}