.animation-menu {
    -webkit-animation: example 0.5s; /* Safari 4.0 - 8.0 */
     animation: example 0.5s;
     overflow: hidden;
  }
  

  /* Safari 4.0 - 8.0 */
  @-webkit-keyframes example {
    from {height: 0}
    to {height: 169px;}
  }
  
  /* Standard syntax */
  @keyframes example {
    from {height: 0;}
    to {height: 169px}
  }